.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.veiw {
    flex: 3;
    display: flex;
    justify-content: center;
    padding: 30px;

}

.content  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #D9D9D9;
}

.container  p {
    margin-top: 50px;
    color: #D9D9D9 ;

}

a {
    color: black;
}
.sideBar {
    flex: 1;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
}
.sideBar h3 {
    margin: 2vh 0 1vh 0;
    font-weight: 300 ;
    cursor: pointer;
    color: black;
}
.sideBar p {
    margin-top: 0.5vh;
    font-weight: 300 ;
    cursor: pointer;
    color: black;
}
li {
    cursor: pointer;
}
button {
    margin: 20px;
    background-color: wheat;
    padding: 9px;
    border: none;
    border-radius: 10px;
    font-weight: 500;

}

.images {
    margin-top: 80px;
}

.images img {
    width: auto;

    margin: 10px;
}

.hesab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media ( min-width: 1211px ) {
    .veiw {
        flex: 4;
    }
    
}

@media (min-width: 845px) {
    .sideBar {
        display: flex;
    }
    .SidebarMobile {
        display: none;
    }
}

@media (max-width: 845px) {
    .sideBar {
        display: none;
    }
    .SidebarMobile {
        display: block;
    }
}